* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

.contentt {
    position: relative;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.shadow {
    -webkit-box-shadow: 0 2px 2px -2px black;
    -moz-box-shadow: 0 2px 2px -2px black;
    box-shadow: 0 2px 2px -2px black;
}

.navbarr {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

a {
    color: #ee6222;
}

nav {
    background: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:hover {
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:active {
    background-color: #ee6222;
    border-color: #ee6222;
}

.left_pane {
    background: #E0E5EC;
    margin-left: 1%;
    max-height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.left_pane::-webkit-scrollbar {
    display: none;
}

.right_pane {
    padding: 20px;
    background: #fff;
    padding-bottom: 5px;
    overflow-y: hidden;
}

.chat-area {
    height: 68vh;
    overflow-y: auto;
}

.send-message {
    display: block;
}

input {
    width: 100%;
    margin-bottom: 2vh;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vh;
    padding-left: 10px;
}

select {
    margin-bottom: 2vh;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vh;
    padding-left: 10px;
}

.selectt {
    display: inline-block;
}

.details {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-gap: 10px;
}

.details img {
    height: 75px;
    border-radius: 50%;
    margin-left: 2vh;
}

.details__names__tag {
    background: #b6bbc2;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: #696969;
}

.details__names p {
    margin: 0;
}

.about {
    display: grid;
    margin: 3vh;
    background: #fff;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 3vh;
    margin-bottom: 10vh;
}

.about__left img {
    height: 80px;
    border-radius: 50%;
}

.about__left p {
    margin: 0;
    font-weight: 400;
}

.about__middile h2 {
    font-weight: 800;
}

.about__middile p {
    font-weight: 500;
}

.about__right {
    display: grid;
    grid-template-columns: 1fr;
}

.about__right i span {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-left: 3px;
}

.modall {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1050;
}

.content {
    display: block;
    max-width: 40%;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    padding: 5vh 0;
    margin-top: 25vh;
    position: relative;
}

.contentr #page-info {
    text-align: center;
}

.contentr {
    display: block;
    max-width: 40%;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    padding: 5vh 0;
    margin-top: 2vh;
    position: relative;
}

.contentrr {
    display: block;
    max-width: 40%;
    margin: auto;
    background: #fff;
    border-radius: 20px;
    margin-top: 2vh;
    position: relative;
}

.content #page-info {
    text-align: center;
}

.cross {
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    transform: rotate(45deg);
    z-index: 1050;
}

.headerr {
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
    background-image: url("https://static-cdn.jtvnw.net/jtv_user_pictures/44d223d1-1e4f-4f69-96c3-b6a13b764d76-profile_banner-480.jpeg");
    background-position: center;
    padding-bottom: 20px;
    opacity: 0.8;
}

.headerr div img {
    margin: 15px 0 0 15px;
}

.headerr div h2 {
    margin-top: 20px;
    margin-left: 20px;
}

.conteent {
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 20px;
}

.conteent p {
    font-weight: 300!important;
    font-size: 14px;
}

.buttons {
    display: inline-block;
    margin-left: 3vh;
}

.buttons div {
    display: inline-block;
    padding: 10px;
    background: #b6bbc2;
    color: #696969;
}

.buttons div.active {
    background: #fff;
}

.buttons div:hover {
    cursor: pointer;
}

.credentials {
    margin: 0 4vh;
    margin-top: 2vh;
}

.message {
    display: flex;
}

.message div p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.message div p.profile {
    color: #dbdbdb;
}

.message div img {
    margin: 5px 0 0 5px;
}

.price-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.leftt {
    margin: 20px;
}

.leftt p {
    margin-bottom: 0;
}


/*
  button span {
    background-color: black;
    padding: 9px;
  } */

@media (max-width: 930px) {
    .right_pane {
        display: none;
    }
    .main-container {
        grid-template-columns: 1fr;
    }
    .content {
        max-width: 60%;
    }
    .contentr {
        max-width: 60%;
    }
    .contentrr {
        max-width: 70%;
    }
    .modall {
        min-height: 100%;
        height: auto;
    }
}

@media (max-width: 550px) {
    .about {
        grid-template-columns: 1fr;
    }
    .about__middile {
        text-align: center;
        margin: 5px 0;
    }
    .about__right {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .content {
        max-width: 85%;
    }
    .contentr {
        max-width: 85%;
    }
    .contentrr {
        max-width: 90%;
    }
}