* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.shadow {
    -webkit-box-shadow: 0 2px 2px -2px black;
    -moz-box-shadow: 0 2px 2px -2px black;
    box-shadow: 0 2px 2px -2px black;
}

.navbarr {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

a {
    color: #ee6222;
}

nav {
    background: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:hover {
    background-color: #ee6222;
    border-color: #ee6222;
}

.btn-primary:active {
    background-color: #ee6222;
    border-color: #ee6222;
}

.left_pane {
    background: #E0E5EC;
    margin-left: 1%;
    max-height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.left_pane::-webkit-scrollbar {
    display: none;
}

.right_pane {
    padding: 20px;
    background: #fff;
    padding-bottom: 5px;
    overflow-y: hidden;
}

.chat-area {
    height: 68vh;
}

.send-message {
    display: block;
}

.send-message input {
    width: 100%;
    margin-bottom: 2vh;
    outline: 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5vh;
    padding-left: 10px;
}

.details {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    grid-gap: 10px;
}

.details img {
    height: 75px;
    border-radius: 50%;
    margin-left: 2vh;
}

.details__names__tag {
    background: #b6bbc2;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    color: #696969;
}

.details__names p {
    margin: 0;
}

.about {
    display: grid;
    margin: 3vh;
    background: #fff;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 3vh;
    margin-bottom: 10vh;
}

.about__left img {
    height: 80px;
    border-radius: 50%;
}

.about__left p {
    margin: 0;
    font-weight: 400;
}

.about__middile h2 {
    font-weight: 800;
}

.about__middile p {
    font-weight: 500;
}

.about__right {
    display: grid;
    grid-template-columns: 1fr;
}

.about__right i span {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-left: 3px;
}

@media (max-width: 930px) {
    .right_pane {
        display: none;
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 550px) {
    .about {
        grid-template-columns: 1fr;
    }
    .about__middile {
        text-align: center;
        margin: 5px 0;
    }
    .about__right {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}